In [1]:
import pandas as pd
import numpy as np
import os
from random import shuffle
import datetime
import shutil

In [2]:
def get_time_frame(df, M, D):
    df_M = df[df['M'] == M]
    df_D = df_M[df_M['D'] == D]
#     df_HH = df_D[df_D['HH'] == HH]
#     df_MM = df_HH[df_HH['MM'] == MM]
    return df_D

In [3]:
df_segments = pd.read_csv(r'../../Data_full/X/Divided_2019.csv')

In [4]:
df_segments = df_segments[['SegmentID_', 'TrafDir','SegDir1', 'SegDir2', 'ID']]
df_count_0 = pd.read_csv(r'../../Data_full/Automated_Traffic_Volume_Counts.csv')

In [5]:
df_segments.columns

Index(['SegmentID_', 'TrafDir', 'SegDir1', 'SegDir2', 'ID'], dtype='object')

In [6]:
df_count_0.head()

,RequestID,Boro,Yr,M,D,HH,MM,Vol,SegmentID,WktGeom,street,fromSt,toSt,Direction
0,1100,Staten Island,2011,10,14,10,45,102,103882,POINT (963246 173171.4),BAY ST,RICHMOND TERR,STUYVESANT PL,SB
1,1100,Staten Island,2011,10,14,11,0,110,103882,POINT (963246 173171.4),BAY ST,RICHMOND TERR,STUYVESANT PL,SB
2,1100,Staten Island,2011,10,14,11,15,101,103882,POINT (963246 173171.4),BAY ST,RICHMOND TERR,STUYVESANT PL,SB
3,1100,Staten Island,2011,10,14,11,30,112,103882,POINT (963246 173171.4),BAY ST,RICHMOND TERR,STUYVESANT PL,SB
4,1100,Staten Island,2011,10,14,11,45,94,103882,POINT (963246 173171.4),BAY ST,RICHMOND TERR,STUYVESANT PL,SB

In [7]:
# Select traffic count from year 2016 to 2019 [2016, 2019]
df_count_0 = df_count_0[df_count_0['Yr'] < 2020]
df_count_0 = df_count_0[df_count_0['Yr'] > 2015]

In [8]:
SegID = df_count_0['SegmentID'].astype('str')
Dir = df_count_0['Direction']
Seg_ID = SegID+'_' + Dir
df_count_0['Seg_Dir'] = Seg_ID

count_d = df_count_0['Vol']
m = count_d.mean()
s = count_d.std()
print(m, s)

106.05237812774699 149.25821080902213

In [9]:
year = df_count_0['Yr'].values
month = df_count_0['M'].values
day = df_count_0['D'].values

In [10]:
weekday = []
for i in range(year.shape[0]):
    date_time = datetime.datetime(year[i], month[i], day[i])
    week = int(date_time.strftime('%w'))
    if week > 0 and week < 6:
        weekday.append(1)
    else:
        weekday.append(0)
df_count_0['weekday'] = weekday

In [11]:
df_count_0 = df_count_0[df_count_0['weekday'] == 1]

In [12]:
segmentID = df_segments['SegmentID_'].values
dir1 = df_segments['SegDir1'].values
dir2 = df_segments['SegDir2'].values

In [13]:
M_sheet = []
H_sheet = []
for i in range(segmentID.shape[0]):
    if i %100 == 0:
        print(i)
    match1 = str(segmentID[i]) + '_' + dir1[i]
    match2 = str(segmentID[i]) + '_' + dir2[i]
    d1 = df_count_0[df_count_0['Seg_Dir'] == match1]
    d2 = df_count_0[df_count_0['Seg_Dir'] == match2]
    frame = [d1, d2]
    d = pd.concat(frame)
    if d.shape[0] == 0:
        M_value = [-1] * 96
        H_value = [-1] * 24
    else:
        M_value = []
        H_value = []
        for h in range(24):
            d_h = d[d['HH'] == h]
            if d_h.shape[0] != 0:
                H_value.append(d_h['Vol'].values.mean() * 4)
                for m in [0, 15, 30, 45]:
                    d_m = d_h[d_h['MM'] == m]
                    if d_m.shape[0] == 0:
                        M_value.append(-1)
                    else:
                        M_value.append(d_m['Vol'].values.mean())
            else:
                H_value.append(-1)
                M_value.append(-1)
                M_value.append(-1)
                M_value.append(-1)
                M_value.append(-1)
                
    M_sheet.append(M_value)
    H_sheet.append(H_value)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900
14000
14100
14200
14300
14400
14500
14600
14700
14800
14900
15000
15100
15200
15300
15400
15500
15600
15700
15800
15900
16000
16100
16200
16300
16400
16500
16600
16700
16800
16900
17000
17100
17200
17300
17400
17500
17600
17700
17800
17900
18000
18100
18200
18300
18400
18500
18600
18700
18800
18900
19000
19100
19200
19300
19400
19500
19600
19700
19800
19900
20000
20100
20200
20300
20400
20500
20600
20700
20800
20900
21000
21100
21200
21300
21400
21500
21600
21700
21800
21900
22000
22100
22200
22300
22400
22500
22600
22700
22800
22900
23000
23100

In [14]:
df_M = pd.DataFrame(M_sheet)
df_M.to_csv(r'../Data/Minute_Y.csv')

In [15]:
df_H = pd.DataFrame(H_sheet)
df_H.to_csv(r'../Data/Hour_Y.csv')

In [17]:
df_M

,0,1,2,3,4,5,6,7,8,9,...,86,87,88,89,90,91,92,93,94,95
0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23144,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
23145,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
23146,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
23147,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
23148,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [18]:
df_H

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23144,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
23145,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
23146,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
23147,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
23148,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [21]:
df_H['1'].values != -1

KeyError: '1'

In [32]:
mask = df_H[0].values != -1

In [33]:
df_h_t = df_H[mask]

In [34]:
df_h_t

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
5,69.40,46.60,49.20,54.40,83.80,74.20,136.40,140.200000,245.600000,308.200000,...,326.800000,565.20,681.400000,565.200000,481.20,305.000000,192.600000,123.600000,73.600000,67.400000
27,53.60,35.40,18.80,17.40,21.80,34.00,78.60,159.200000,240.600000,244.600000,...,260.200000,300.80,352.000000,350.000000,299.20,209.600000,183.200000,142.400000,95.000000,83.400000
28,30.20,16.20,15.60,7.20,17.00,40.80,91.80,204.600000,169.000000,144.600000,...,188.600000,208.80,217.000000,216.600000,199.60,196.000000,163.000000,116.000000,81.400000,55.600000
36,79.80,30.20,22.20,17.00,15.20,26.00,70.20,165.200000,230.200000,230.000000,...,292.400000,371.60,400.200000,402.600000,408.40,316.200000,226.400000,173.400000,147.400000,103.200000
43,73.60,50.80,34.20,30.60,31.80,47.80,87.60,142.800000,189.400000,206.800000,...,258.800000,251.40,249.200000,220.000000,208.80,195.400000,168.000000,144.600000,100.400000,98.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23030,92.40,54.60,33.60,31.80,42.40,100.40,226.00,354.400000,285.200000,190.000000,...,222.333333,269.00,216.833333,239.166667,253.00,247.166667,221.333333,184.666667,170.833333,170.166667
23063,73.50,26.75,18.25,12.75,18.00,35.50,57.75,125.000000,154.000000,96.307692,...,106.500000,111.00,112.000000,128.250000,138.50,122.000000,115.250000,119.000000,123.500000,107.000000
23086,42.50,20.50,11.75,12.25,17.50,27.75,58.25,82.250000,83.333333,85.000000,...,97.000000,82.75,85.250000,130.500000,163.50,142.250000,113.500000,107.500000,85.750000,62.750000
23087,18.00,7.75,5.75,6.00,4.50,7.75,22.25,55.733333,67.666667,53.333333,...,18.500000,32.25,28.750000,34.250000,34.75,30.250000,19.750000,22.500000,20.750000,27.750000
23091,67.25,27.25,18.25,11.00,13.25,31.75,66.75,104.285714,109.333333,105.000000,...,108.000000,122.75,124.500000,147.000000,162.00,155.750000,130.500000,147.500000,129.250000,104.500000

In [31]:
df_H

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23144,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
23145,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
23146,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
23147,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
23148,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

### Get street embedding data
#### 1. x - average divided characteristics for monitored streets
#### 2. y - generated records for monitored streets

In [19]:
# 1. x
d1 = pd.read_csv(r'../../Data_full/X/Divided_2016.csv')
d2 = pd.read_csv(r'../../Data_full/X/Divided_2017.csv')
d3 = pd.read_csv(r'../../Data_full/X/Divided_2018.csv')
d4= pd.read_csv(r'../../Data_full/X/Divided_2019.csv')

In [20]:
columns = ['StreetWidt', 'Length',  
           'Commercial', 'CulturalFa', 'EducationF','Government', 'HealthServ', 
           'Miscellane', 'PublicSafe', 'Recreation', 'ReligiousI', 'Residentia', 
           'SocialServ', 'Transporta', 'Water',
           'Avg_B01001', 'Avg_B010_1', 'Avg_B010_2', 'Avg_B010_3', 'Avg_B02001',
           'Avg_B020_1', 'Avg_B020_2', 'Avg_B08006', 'Avg_B080_1', 'Avg_B080_2',
           'Avg_B08013', 'Avg_B08124', 'Avg_B15003', 'Avg_B19001', 'Avg_B19013',
           'Avg_B23013', 'Avg_B24011', 'Avg_B240_1', 'Avg_B240_2', 'Avg_B240_3',
           'Avg_B240_4', 'Avg_B240_5', 'Avg_B240_6', 'Avg_B240_7', 'Avg_B240_8',
           'Avg_B240_9', 'Avg_B24_10', 'Avg_B24_11', 'Avg_B24_12', 'Avg_B24_13',
           'Avg_B24_14', 'Avg_B24_15', 'Avg_B24_16', 'Avg_B24_17', 'Avg_B24_18',
           'Avg_B24_20', 'Avg_B24_21', 'Avg_B24_22', 'Avg_B24_23', 'Avg_B24_24']

In [38]:
x1 = d1[columns]
x2 = d2[columns]
x3 = d3[columns]
x4 = d4[columns]

In [42]:
x = (x1.values + x2.values + x3.values + x4.values)/4.0

In [46]:
x_d = pd.DataFrame(x, columns=columns)

In [65]:
x_r = d1[['FeatureTyp', 'SegmentTyp', 'TrafDir', 'SegmentID',
       'XFrom', 'YFrom', 'XTo', 'YTo','SegmentID_',
       'SpatialJoi', 'D_Busstop', 'D_Subway', 'NodeIDFrom',
       'NodeIDTo', 'X', 'Y', 'SVIID', 'ID', 'SegDir1', 'SegDir2']]

In [67]:
frames = [x_r, x_d]

In [69]:
x_df = pd.concat(frames, axis=1)

In [75]:
x_df.to_csv(r'../Data/X_ave.csv')

In [78]:
# 2. get x_y values

In [79]:
x_df = pd.read_csv(r'../Data/X_ave.csv')

In [81]:
y_H = pd.read_csv(r'../Data/Hour_Y.csv')

In [85]:
mask = y_H['0'].values != -1

In [87]:
x = x_df[mask]
y = y_H[mask]

In [95]:
x = x.drop(columns=['Unnamed: 0'])

In [94]:
y = y.drop(columns=['Unnamed: 0'])

In [98]:
frames = [x, y]
d = pd.concat(frames, axis=1)

In [99]:
d

,FeatureTyp,SegmentTyp,TrafDir,SegmentID,XFrom,YFrom,XTo,YTo,SegmentID_,SpatialJoi,...,14,15,16,17,18,19,20,21,22,23
5,0,U,A,69588,1003494,234582,1003388,234704,69588,500,...,326.800000,565.20,681.400000,565.200000,481.20,305.000000,192.600000,123.600000,73.600000,67.400000
27,0,U,T,69696,1003693,238130,1003968,239068,69696,965,...,260.200000,300.80,352.000000,350.000000,299.20,209.600000,183.200000,142.400000,95.000000,83.400000
28,0,U,T,69696,1003968,239068,1003693,238130,69696,965,...,188.600000,208.80,217.000000,216.600000,199.60,196.000000,163.000000,116.000000,81.400000,55.600000
36,0,U,W,69698,1003946,238039,1004152,238742,69698,981,...,292.400000,371.60,400.200000,402.600000,408.40,316.200000,226.400000,173.400000,147.400000,103.200000
43,0,U,T,69766,1004028,234042,1004144,234252,69766,1068,...,258.800000,251.40,249.200000,220.000000,208.80,195.400000,168.000000,144.600000,100.400000,98.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23030,0,U,T,191585,1000128,216915,999687,217138,191585,185045,...,222.333333,269.00,216.833333,239.166667,253.00,247.166667,221.333333,184.666667,170.833333,170.166667
23063,0,U,T,214550,996320,211376,996262,211127,214550,187174,...,106.500000,111.00,112.000000,128.250000,138.50,122.000000,115.250000,119.000000,123.500000,107.000000
23086,0,U,T,259652,996320,211376,996302,211658,259652,189294,...,97.000000,82.75,85.250000,130.500000,163.50,142.250000,113.500000,107.500000,85.750000,62.750000
23087,0,U,T,259653,996205,211983,996302,211658,259653,189295,...,18.500000,32.25,28.750000,34.250000,34.75,30.250000,19.750000,22.500000,20.750000,27.750000
23091,0,U,A,259657,996707,211553,996302,211658,259657,189298,...,108.000000,122.75,124.500000,147.000000,162.00,155.750000,130.500000,147.500000,129.250000,104.500000

In [108]:
datasetMasks = ['Train'] * 930 + ['Val'] * 310 + ['Test'] * 311

In [109]:
import random

In [110]:
random.shuffle(datasetMasks)

In [111]:
d['Masks'] = datasetMasks

In [115]:
d_train = d[d['Masks'] == 'Train']
d_val = d[d['Masks'] == 'Val']
d_test = d[d['Masks'] == 'Test']

In [119]:
d_train.to_csv(r'../Data/Encoding/train.csv')
d_val.to_csv(r'../Data/Encoding/val.csv')
d_test.to_csv(r'../Data/Encoding/test.csv')

In [120]:
d_train.columns

Index(['FeatureTyp', 'SegmentTyp', 'TrafDir', 'SegmentID', 'XFrom', 'YFrom',
       'XTo', 'YTo', 'SegmentID_', 'SpatialJoi', 'D_Busstop', 'D_Subway',
       'NodeIDFrom', 'NodeIDTo', 'X', 'Y', 'SVIID', 'ID', 'SegDir1', 'SegDir2',
       'StreetWidt', 'Length', 'Commercial', 'CulturalFa', 'EducationF',
       'Government', 'HealthServ', 'Miscellane', 'PublicSafe', 'Recreation',
       'ReligiousI', 'Residentia', 'SocialServ', 'Transporta', 'Water',
       'Avg_B01001', 'Avg_B010_1', 'Avg_B010_2', 'Avg_B010_3', 'Avg_B02001',
       'Avg_B020_1', 'Avg_B020_2', 'Avg_B08006', 'Avg_B080_1', 'Avg_B080_2',
       'Avg_B08013', 'Avg_B08124', 'Avg_B15003', 'Avg_B19001', 'Avg_B19013',
       'Avg_B23013', 'Avg_B24011', 'Avg_B240_1', 'Avg_B240_2', 'Avg_B240_3',
       'Avg_B240_4', 'Avg_B240_5', 'Avg_B240_6', 'Avg_B240_7', 'Avg_B240_8',
       'Avg_B240_9', 'Avg_B24_10', 'Avg_B24_11', 'Avg_B24_12', 'Avg_B24_13',
       'Avg_B24_14', 'Avg_B24_15', 'Avg_B24_16', 'Avg_B24_17', 'Avg_B24_18',
       'Avg_B24_20', 'Avg_B24_21', 'Avg_B24_22', 'Avg_B24_23', 'Avg_B24_24',
       '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       'Masks'],
      dtype='object')

In [123]:
y_columns = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
                          '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']

In [124]:
d_train[y_columns].values

array([[ 53.6 ,  35.4 ,  18.8 , ..., 142.4 ,  95.  ,  83.4 ],
       [ 73.6 ,  50.8 ,  34.2 , ..., 144.6 , 100.4 ,  98.  ],
       [ 22.  ,  17.  ,  15.6 , ...,  57.6 ,  48.6 ,  30.6 ],
       ...,
       [ 42.5 ,  20.5 ,  11.75, ..., 107.5 ,  85.75,  62.75],
       [ 18.  ,   7.75,   5.75, ...,  22.5 ,  20.75,  27.75],
       [ 67.25,  27.25,  18.25, ..., 147.5 , 129.25, 104.5 ]])

In [127]:
x_columns = ['SVIID','StreetWidt', 'Length', 'Commercial', 'CulturalFa', 'EducationF',
                           'Government', 'HealthServ', 'Miscellane', 'PublicSafe', 'Recreation',
                           'ReligiousI', 'Residentia', 'SocialServ', 'Transporta', 'Water',
                           'Avg_B01001', 'Avg_B010_1', 'Avg_B010_2', 'Avg_B010_3', 'Avg_B02001',
                           'Avg_B020_1', 'Avg_B020_2', 'Avg_B08006', 'Avg_B080_1', 'Avg_B080_2',
                           'Avg_B08013', 'Avg_B08124', 'Avg_B15003', 'Avg_B19001', 'Avg_B19013',
                           'Avg_B23013', 'Avg_B24011', 'Avg_B240_1', 'Avg_B240_2', 'Avg_B240_3',
                           'Avg_B240_4', 'Avg_B240_5', 'Avg_B240_6', 'Avg_B240_7', 'Avg_B240_8',
                           'Avg_B240_9', 'Avg_B24_10', 'Avg_B24_11', 'Avg_B24_12', 'Avg_B24_13',
                           'Avg_B24_14', 'Avg_B24_15', 'Avg_B24_16', 'Avg_B24_17', 'Avg_B24_18',
                           'Avg_B24_20', 'Avg_B24_21', 'Avg_B24_22', 'Avg_B24_23', 'Avg_B24_24']

In [131]:
x = d_train[x_columns].values

In [142]:
x[1, 1:]

array([6.20000000e+01, 7.31166000e-02, 1.00000000e+01, 8.30000000e+01,
       2.10000000e+01, 2.40000000e+01, 5.00000000e+00, 0.00000000e+00,
       2.00000000e+00, 3.00000000e+00, 1.30000000e+01, 5.00000000e+01,
       6.00000000e+00, 4.00000000e+00, 6.00000000e+00, 4.40995184e+04,
       2.02089943e+04, 2.38905241e+04, 2.77464546e+04, 6.10163985e+03,
       1.82308589e+04, 0.00000000e+00, 1.22367264e+04, 9.31730438e+02,
       3.98971752e+02, 5.12344234e+05, 0.00000000e+00, 1.07985169e+03,
       1.87683957e+04, 1.68784163e+05, 3.43545736e+02, 3.43959042e+05,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       4.02603112e+05, 0.00000000e+00, 1.84549520e+05, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 1.79026031e+05, 1.05144585e+05,
       0.00000000e+00, 1.86745059e+05, 1.51556707e+05, 9.62859791e+04,
       1.20346126e+05, 2.79789094e+05, 1.39589943e+05, 0.00000000e+00,
       1.45956768e+05, 3.58548985e+04, 0.00000000e+00])

In [1]:
class GraphDataset():
    
    def __init__(self, data_path_se, data_path_image, data_path_y, adjacentMtxPath):

        self.adjacent_matrix = pd.read_csv(r'Data/adjacentMatrix.csv')
        self.From= self.adjacent_matrix['From'].values
        self.To = self.adjacent_matrix['To'].values
        self.edge = torch.tensor([self.From, self.To], dtype=torch.long)

        self.data_se = pd.read_csv(data_path_se)
        self.x_columns = ['StreetWidt', 'Length', 'Commercial', 'CulturalFa', 'EducationF',
                           'Government', 'HealthServ', 'Miscellane', 'PublicSafe', 'Recreation',
                           'ReligiousI', 'Residentia', 'SocialServ', 'Transporta', 'Water',
                           'Avg_B01001', 'Avg_B010_1', 'Avg_B010_2', 'Avg_B010_3', 'Avg_B02001',
                           'Avg_B020_1', 'Avg_B020_2', 'Avg_B08006', 'Avg_B080_1', 'Avg_B080_2',
                           'Avg_B08013', 'Avg_B08124', 'Avg_B15003', 'Avg_B19001', 'Avg_B19013',
                           'Avg_B23013', 'Avg_B24011', 'Avg_B240_1', 'Avg_B240_2', 'Avg_B240_3',
                           'Avg_B240_4', 'Avg_B240_5', 'Avg_B240_6', 'Avg_B240_7', 'Avg_B240_8',
                           'Avg_B240_9', 'Avg_B24_10', 'Avg_B24_11', 'Avg_B24_12', 'Avg_B24_13',
                           'Avg_B24_14', 'Avg_B24_15', 'Avg_B24_16', 'Avg_B24_17', 'Avg_B24_18',
                           'Avg_B24_20', 'Avg_B24_21', 'Avg_B24_22', 'Avg_B24_23', 'Avg_B24_24']

        self.x_se = self.data_se[self.x_columns].values
        self.x_se = torch.tensor(self.x_se, dtype=torch.float)

        self.x_image = pd.read_csv(data_path_image).drop(columns=['Unnamed: 0']).values
        self.x_image = torch.tensor(self.x_image, dtype=torch.float)

        self.x = torch.concat([self.x_se, self.x_image], 1)

        self.y_columns = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
                          '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']
        self.y_df = pd.read_csv(data_path_y) 
        self.y = torch.tensor(self.y_df[self.y_columns].values, dtype=torch.float)

        self.train_mask = self.y_df['Train_mask'].values
        self.val_mask = self.y_df['Val_mask'].values
        self.test_mask = self.y_df['Test_mask'].values

    # def __len__(self):
    #     return self.x.shape[0]

    def get_data(self):
        graph = Data(x=self.x, edge_index=self.edge, y=self.y)
        return (graph, self.train_mask, self.val_mask, self.test_mask)