In [1]:
import pandas as pd
import numpy as np
import os

In [105]:
P = pd.read_csv(r'../Data/Result_Y.csv').drop(columns=['Unnamed: 0'])
R = pd.read_csv(r'../Data/Hour_Y.csv').drop(columns=['Unnamed: 0'])
X = pd.read_csv(r'../Data/X_ave.csv')[['SpatialJoi']]
Test_mask = pd.read_csv(r'../Data/testMask.csv')

In [106]:
P_values = P.values
R_values = R.values

In [107]:
errors = P_values - R_values

In [108]:
P_columns = []
for i in range(24):
    P_columns.append('P_' + str(i))
P_values_df = pd.DataFrame(P_values, columns=P_columns)

In [109]:
R_columns = []
for i in range(24):
    R_columns.append('R_' + str(i))
R_values_df = pd.DataFrame(R_values, columns=R_columns)

In [110]:
E_columns = []
for i in range(24):
    E_columns.append('E_' + str(i))
E_values_df = pd.DataFrame(P_values - R_values, columns=E_columns)

In [111]:
Test_values = np.array([-1 for i in range(Test_mask.shape[0])])
Test_values[Test_mask['Mask'].values] = 1
Test_values = pd.DataFrame(Test_values, columns=['Test_values'])

In [112]:
frame_list = [X, R_values_df, P_values_df, E_values_df, Test_values]

In [113]:
df_all = pd.concat(frame_list, axis=1)

In [114]:
P_sum = P_values.sum(axis=1)
R_sum = R_values.sum(axis=1)
erros_all_P = (P_sum - R_sum) / R_sum
df_all['All_P_E'] = erros_all_P

In [102]:
# df_all = df_all[df_all['R_0']!= -1]

In [116]:
df_all = df_all.groupby('SpatialJoi', as_index=False).max()

In [118]:
P_sum = df_all[P_columns].values.sum(axis=1)
R_sum = df_all[R_columns].values.sum(axis=1)
erros_all_P = (P_sum - R_sum) / R_sum
df_all['All_P_E'] = erros_all_P

In [120]:
R_values = df_all[R_columns].values
P_values = df_all[P_columns].values
E_values = P_values - R_values
df_all[E_columns] = E_values

In [122]:
df_all.to_csv(r'../Data/Result_ARCMAP.csv')

In [ ]:
df_all_mask = df_all[['SpatialJoi', 'Test_values']]
df_all_mask = df_all_mask.groupby('SpatialJoi', as_index=False).min()
df_all_mask = df_all_mask['Test_values'].values

In [76]:
Test_mask['']

       Unnamed: 0   Mask
0               0  False
1               1  False
2               2  False
3               3  False
4               4  False
...           ...    ...
23144       23144  False
23145       23145  False
23146       23146  False
23147       23147  False
23148       23148  False

[23149 rows x 2 columns]

In [42]:
X.columns

Index(['Unnamed: 0', 'FeatureTyp', 'SegmentTyp', 'TrafDir', 'SegmentID',
       'XFrom', 'YFrom', 'XTo', 'YTo', 'SegmentID_', 'SpatialJoi', 'D_Busstop',
       'D_Subway', 'NodeIDFrom', 'NodeIDTo', 'X', 'Y', 'SVIID', 'ID',
       'SegDir1', 'SegDir2', 'StreetWidt', 'Length', 'Commercial',
       'CulturalFa', 'EducationF', 'Government', 'HealthServ', 'Miscellane',
       'PublicSafe', 'Recreation', 'ReligiousI', 'Residentia', 'SocialServ',
       'Transporta', 'Water', 'Avg_B01001', 'Avg_B010_1', 'Avg_B010_2',
       'Avg_B010_3', 'Avg_B02001', 'Avg_B020_1', 'Avg_B020_2', 'Avg_B08006',
       'Avg_B080_1', 'Avg_B080_2', 'Avg_B08013', 'Avg_B08124', 'Avg_B15003',
       'Avg_B19001', 'Avg_B19013', 'Avg_B23013', 'Avg_B24011', 'Avg_B240_1',
       'Avg_B240_2', 'Avg_B240_3', 'Avg_B240_4', 'Avg_B240_5', 'Avg_B240_6',
       'Avg_B240_7', 'Avg_B240_8', 'Avg_B240_9', 'Avg_B24_10', 'Avg_B24_11',
       'Avg_B24_12', 'Avg_B24_13', 'Avg_B24_14', 'Avg_B24_15', 'Avg_B24_16',
       'Avg_B24_17', 'Avg_B24_18', 'Avg_B24_20', 'Avg_B24_21', 'Avg_B24_22',
       'Avg_B24_23', 'Avg_B24_24'],
      dtype='object')

In [43]:
X['SpatialJoi']

0           495
1           497
2           497
3           498
4           499
          ...
23144    194143
23145    194144
23146    194144
23147    194145
23148    194145
Name: SpatialJoi, Length: 23149, dtype: int64